@charset "utf-8";

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

#wrapper {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 960px;
	min-height: 100%;
	background-color: white;
	color: black;
}

body {
	background-color: black;
	color: aliceblue;
	background-image: url(pics/bg-simple-checker.gif)
}
